<a href="https://colab.research.google.com/github/shuvookd/Machine_Learning/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **What is Pandas?**

Ans: Pandas is a powerful python data analysis toolkit.

A fast snd efficien DataFrame object for Data manipulation. 

It can read and writing different formats: CSV, TSV, TXT, XML, JSON, ZIP etc.

**Pandas Data Structures:**
1. Series
2. Data-Frame(Most Use)
3. Panel

# **Pandas Series**

### **Installation of Pandas**

In [88]:
pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

### **Import pandas**

In [89]:
import pandas as pd
pd.__version__

'1.3.5'

### **Creating list**

In [90]:
list = [1,2,-3,5.6, 'data']
print(list)

[1, 2, -3, 5.6, 'data']

### **Creating Series**

In [91]:
series1 = pd.Series(list)
print(series1)

0       1
1       2
2      -3
3     5.6
4    data
dtype: object

In [92]:
type(series1)

pandas.core.series.Series

In [93]:
#Short Trick
series2 = pd.Series([3,2,13,54,15])
print(series2)

0     3
1     2
2    13
3    54
4    15
dtype: int64

### **Create Empty List**

In [94]:
empty_series = pd.Series([])
print(empty_series)

Series([], dtype: float64)

<ipython-input-94-3702d100f13b>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  empty_series = pd.Series([])

### **Add Index**

In [95]:
series3 = pd.Series([3,2,13,54,15], index = ['a','b','c','d','e'])
print(series3)

a     3
b     2
c    13
d    54
e    15
dtype: int64

### **Changing Data Type**

In [96]:
series3 = pd.Series([3,2,13,54,15], index = ['a','b','c','d','e'], dtype = float)
print(series3)

a     3.0
b     2.0
c    13.0
d    54.0
e    15.0
dtype: float64

### **Adding Column Name**

In [97]:
series3 = pd.Series([3,2,13,54,15], index = ['a','b','c','d','e'], dtype = float, name = 'Data Values')
print(series3)

a     3.0
b     2.0
c    13.0
d    54.0
e    15.0
Name: Data Values, dtype: float64

### **Create Series using Scaler Value**

In [98]:
scaler_s = pd.Series(0.5, index = [1,2,3,4,5])
print(scaler_s)

1    0.5
2    0.5
3    0.5
4    0.5
5    0.5
dtype: float64

### **Create Series using Dictionary Value**

In [99]:
dict_s = pd.Series({'a': 1, 'b': 2})
print(dict_s)

a    1
b    2
dtype: int64

### **Access Perticular Index value**

In [100]:
series4 = pd.Series([1,2,3,4,5])
print(series4)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [101]:
#to know index number 2's value
series4[2]

3

### **Series Slicing**

In [102]:
series4[0:3]

0    1
1    2
2    3
dtype: int64

### **Know Min Max Value from series**

In [103]:
max(series4)

5

In [104]:
min(series4)

1

In [105]:
#To get value gratter then 3
series4[series4 > 3]

3    4
4    5
dtype: int64

### **Adding 2  series**

In [106]:
series4

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [107]:
series5 = pd.Series([1,2,3,4,5])
print(series5)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [108]:
#adding 2 equal data series
series4 + series5

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [109]:
series6 = pd.Series([1,2,3])
print(series6)

0    1
1    2
2    3
dtype: int64

In [110]:
#adding 2 unequal data series
series5 + series6

0    2.0
1    4.0
2    6.0
3    NaN
4    NaN
dtype: float64

# **Pandas Dataframe**

### **Creating DataFrame By List**

In [111]:
#Creating Empty dataframe
emt_df = pd.DataFrame()
print(emt_df)

Empty DataFrame
Columns: []
Index: []

In [112]:
#Creating List
lst = ['a', 'b', 'c']
print(lst)

['a', 'b', 'c']

In [113]:
#Creating dataframe
df1 = pd.DataFrame(lst)
df1

   0
0  a
1  b
2  c

In [114]:
#Creating Multi Column DataFrame
lst_of_lst = [[1,2,3],[2,3,4],[3,4,5]]
print(lst_of_lst)

[[1, 2, 3], [2, 3, 4], [3, 4, 5]]

In [115]:
df2 = pd.DataFrame(lst_of_lst)
df2

   0  1  2
0  1  2  3
1  2  3  4
2  3  4  5

### **Creating DataFrame By Dictionary**

In [116]:
#Creating Dictionary
dict1 = {'ID' : [11,12,13]}
dict1

{'ID': [11, 12, 13]}

In [117]:
#Creating Dataframe with Dictionary
df3 = pd.DataFrame(dict1)
df3

   ID
0  11
1  12
2  13

In [118]:
dict1 = {'ID' : [11,12,13], 'SN': [11,23,12]}
dict1

{'ID': [11, 12, 13], 'SN': [11, 23, 12]}

In [119]:
df3 = pd.DataFrame(dict1)
df3

   ID  SN
0  11  11
1  12  23
2  13  12

### **Creating DataFrame By List of Dictionary**

In [125]:
#When Dictionary are equal
lst_dict = [{'a': 1, 'b': 2}, {'a': 3, 'b': 4}, {'a': 5, 'b': 6}]
df4 = pd.DataFrame(lst_dict)
df4

   a  b
0  1  2
1  3  4
2  5  6

In [126]:
#When Dictionary are unequal
lst_dict = [{'a': 1, 'b': 2}, {'a': 3, 'b': 4}, {'a': 5, 'b': 6, 'c': 7}]
df4 = pd.DataFrame(lst_dict)
df4

   a  b    c
0  1  2  NaN
1  3  4  NaN
2  5  6  7.0

### **Creating DataFrame from Dictionary of Series**

In [129]:
from pandas.core.internals.construction import dict_compat
dict_series = {'ID': pd.Series([1,2,3]), 'SN':[111,222,333]}
df5 = pd.DataFrame(dict_series)
df5

   ID   SN
0   1  111
1   2  222
2   3  333

### **Read CSV Files**

In [135]:
pd.read_csv('/content/student_results.csv')

,Student ID,Class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs,Percantege
0,1001,10,2,9,3,5,50
1,1002,10,6,8,2,0,80
2,1003,10,3,8,2,4,60
3,1004,11,0,10,1,5,45
4,1005,11,4,7,2,0,75
5,1006,11,10,7,0,0,96
6,1007,12,4,6,0,0,80
7,1008,12,10,6,2,0,90
8,1009,12,2,8,2,4,60
9,1010,12,6,9,1,0,85

In [136]:
pd.read_csv('/content/Top-10-IT-Companies-in-India.csv')

  Top 10 IT Companies in India
0                          TCS
1                      Infosys
2                Tech Mahindra
3                        Wipro
4             HCL Technologies
5                 L&T Infotech
6                     Mindtree
7                      Mphasis
8    Oracle Financial Services
9                  Rotla India