<a href="https://colab.research.google.com/github/shuvookd/Machine_Learning/blob/main/Pandas(Basic).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **What is Pandas?**

Ans: Pandas is a powerful python data analysis toolkit.

A fast snd efficien DataFrame object for Data manipulation. 

It can read and writing different formats: CSV, TSV, TXT, XML, JSON, ZIP etc.

**Pandas Data Structures:**
1. Series
2. Data-Frame(Most Use)
3. Panel

# **Pandas Series**

### **Installation of Pandas**

In [35]:
pip install pandas

### **Import pandas**

In [36]:
import pandas as pd
#Version Check
pd.__version__

'1.3.5'

### **Creating list**

In [3]:
list = [1,2,-3,5.6, 'data']
print(list)

[1, 2, -3, 5.6, 'data']

### **Creating Series**

In [4]:
series1 = pd.Series(list)
print(series1)

0       1
1       2
2      -3
3     5.6
4    data
dtype: object

In [5]:
#Check Tupe
type(series1)

pandas.core.series.Series

In [6]:
#Short Trick
series2 = pd.Series([3,2,13,54,15])
print(series2)

0     3
1     2
2    13
3    54
4    15
dtype: int64

### **Create Empty List**

In [7]:
empty_series = pd.Series([])
print(empty_series)

Series([], dtype: float64)

<ipython-input-7-3702d100f13b>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  empty_series = pd.Series([])

### **Add Index**

In [8]:
series3 = pd.Series([3,2,13,54,15], index = ['a','b','c','d','e'])
print(series3)

a     3
b     2
c    13
d    54
e    15
dtype: int64

### **Changing Data Type**

In [9]:
series3 = pd.Series([3,2,13,54,15], index = ['a','b','c','d','e'], dtype = float)
print(series3)

a     3.0
b     2.0
c    13.0
d    54.0
e    15.0
dtype: float64

### **Adding Column Name**

In [10]:
series3 = pd.Series([3,2,13,54,15], index = ['a','b','c','d','e'], dtype = float, name = 'Data Values')
print(series3)

a     3.0
b     2.0
c    13.0
d    54.0
e    15.0
Name: Data Values, dtype: float64

### **Create Series using Scaler Value**

In [11]:
scaler_s = pd.Series(0.5, index = [1,2,3,4,5])
print(scaler_s)

1    0.5
2    0.5
3    0.5
4    0.5
5    0.5
dtype: float64

### **Create Series using Dictionary Value**

In [12]:
dict_s = pd.Series({'a': 1, 'b': 2})
print(dict_s)

a    1
b    2
dtype: int64

### **Access Perticular Index value**

In [13]:
series4 = pd.Series([1,2,3,4,5])
print(series4)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [14]:
#to know index number 2's value
series4[2]

3

### **Series Slicing**

In [15]:
series4[0:3]

0    1
1    2
2    3
dtype: int64

### **Know Min Max Value from series**

In [16]:
max(series4)

5

In [17]:
min(series4)

1

In [18]:
#To get value gratter then 3
series4[series4 > 3]

3    4
4    5
dtype: int64

### **Adding 2  series**

In [19]:
series4

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [20]:
series5 = pd.Series([1,2,3,4,5])
print(series5)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [21]:
#adding 2 equal data series
series4 + series5

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [22]:
series6 = pd.Series([1,2,3])
print(series6)

0    1
1    2
2    3
dtype: int64

In [23]:
#adding 2 unequal data series
series5 + series6

0    2.0
1    4.0
2    6.0
3    NaN
4    NaN
dtype: float64

# **Pandas Dataframe**

### **Creating DataFrame By List**

In [24]:
#Creating Empty dataframe
emt_df = pd.DataFrame()
print(emt_df)

Empty DataFrame
Columns: []
Index: []

In [25]:
#Creating List
lst = ['a', 'b', 'c']
print(lst)

['a', 'b', 'c']

In [26]:
#Creating dataframe
df1 = pd.DataFrame(lst)
df1

   0
0  a
1  b
2  c

In [27]:
#Creating Multi Column DataFrame
lst_of_lst = [[1,2,3],[2,3,4],[3,4,5]]
print(lst_of_lst)

[[1, 2, 3], [2, 3, 4], [3, 4, 5]]

In [28]:
df2 = pd.DataFrame(lst_of_lst)
df2

   0  1  2
0  1  2  3
1  2  3  4
2  3  4  5

### **Creating DataFrame By Dictionary**

In [29]:
#Creating Dictionary
dict1 = {'ID' : [11,12,13]}
dict1

{'ID': [11, 12, 13]}

In [30]:
#Creating Dataframe with Dictionary
df3 = pd.DataFrame(dict1)
df3

   ID
0  11
1  12
2  13

In [31]:
dict1 = {'ID' : [11,12,13], 'SN': [11,23,12]}
dict1

{'ID': [11, 12, 13], 'SN': [11, 23, 12]}

In [32]:
df3 = pd.DataFrame(dict1)
df3

   ID  SN
0  11  11
1  12  23
2  13  12

### **Creating DataFrame By List of Dictionary**

In [33]:
#When Dictionary are equal
lst_dict = [{'a': 1, 'b': 2}, {'a': 3, 'b': 4}, {'a': 5, 'b': 6}]
df4 = pd.DataFrame(lst_dict)
df4

   a  b
0  1  2
1  3  4
2  5  6

In [34]:
#When Dictionary are unequal
lst_dict = [{'a': 1, 'b': 2}, {'a': 3, 'b': 4}, {'a': 5, 'b': 6, 'c': 7}]
df4 = pd.DataFrame(lst_dict)
df4

   a  b    c
0  1  2  NaN
1  3  4  NaN
2  5  6  7.0

### **Creating DataFrame from Dictionary of Series**

In [35]:
from pandas.core.internals.construction import dict_compat
dict_series = {'ID': pd.Series([1,2,3]), 'SN':[111,222,333]}
df5 = pd.DataFrame(dict_series)
df5

   ID   SN
0   1  111
1   2  222
2   3  333