<a href="https://colab.research.google.com/github/shuvookd/Machine_Learning/blob/main/Pandas(loc_%26_iloc).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import pandas as pd

In [23]:
df = pd.read_csv('/content/student_results.csv')
df

,Student ID,Class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs,Percantege
0,1001,10,2,9,3,5,50
1,1002,10,6,8,2,0,80
2,1003,10,3,8,2,4,60
3,1004,11,0,10,1,5,45
4,1005,11,4,7,2,0,75
5,1006,11,10,7,0,0,96
6,1007,12,4,6,0,0,80
7,1008,12,10,6,2,0,90
8,1009,12,2,8,2,4,60
9,1010,12,6,9,1,0,85

### **loc()**

In [24]:
#Print First row values
df.loc[0]

Student ID                1001
Class                       10
Study hrs                    2
Sleeping hrs                 9
Social Media usage hrs       3
Mobile Games hrs             5
Percantege                  50
Name: 0, dtype: int64

In [25]:
#Print 4th row values
df.loc[4]

Student ID                1005
Class                       11
Study hrs                    4
Sleeping hrs                 7
Social Media usage hrs       2
Mobile Games hrs             0
Percantege                  75
Name: 4, dtype: int64

In [26]:
#Print specific multiple row values
df.loc[[2,4]]

,Student ID,Class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs,Percantege
2,1003,10,3,8,2,4,60
4,1005,11,4,7,2,0,75

In [27]:
#Print specific column values
df.loc[4, 'Class']

11

In [31]:
#Print multiple specific columns values
df.loc[0:3, 'Percantege']

0    50
1    80
2    60
3    45
Name: Percantege, dtype: int64

In [33]:
#Use conditional Operator
df.loc[df['Class']<11]

,Student ID,Class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs,Percantege
0,1001,10,2,9,3,5,50
1,1002,10,6,8,2,0,80
2,1003,10,3,8,2,4,60

In [37]:
#Use conditional Operator
df.loc[df['Class']<11, ['Percantege']]

   Percantege
0          50
1          80
2          60

### **iloc()**

In [38]:
#Print First Column
df.iloc[[0]]

,Student ID,Class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs,Percantege
0,1001,10,2,9,3,5,50

In [40]:
#Print all rows, First Column
df.iloc[:, 0]

0    1001
1    1002
2    1003
3    1004
4    1005
5    1006
6    1007
7    1008
8    1009
9    1010
Name: Student ID, dtype: int64

In [44]:
#Print specific rows
df.iloc[[5,3,7]]

,Student ID,Class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs,Percantege
5,1006,11,10,7,0,0,96
3,1004,11,0,10,1,5,45
7,1008,12,10,6,2,0,90