<a href="https://colab.research.google.com/github/shuvookd/Machine_Learning/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **What is Pandas?**

Ans: Pandas is a powerful python data analysis toolkit.

A fast snd efficien DataFrame object for Data manipulation. 

It can read and writing different formats: CSV, TSV, TXT, XML, JSON, ZIP etc.

**Pandas Data Structures:**
1. Series
2. Data-Frame(Most Use)
3. Panel

# **Pandas Series**

### **Installation of Pandas**

In [37]:
pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

### **Import pandas**

In [38]:
import pandas as pd
pd.__version__

'1.3.5'

### **Creating list**

In [39]:
list = [1,2,-3,5.6, 'data']
print(list)

[1, 2, -3, 5.6, 'data']

### **Creating Series**

In [40]:
series1 = pd.Series(list)
print(series1)

0       1
1       2
2      -3
3     5.6
4    data
dtype: object

In [41]:
type(series1)

pandas.core.series.Series

In [42]:
#Short Trick
series2 = pd.Series([3,2,13,54,15])
print(series2)

0     3
1     2
2    13
3    54
4    15
dtype: int64

### **Create Empty List**

In [43]:
empty_series = pd.Series([])
print(empty_series)

Series([], dtype: float64)

<ipython-input-43-3702d100f13b>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  empty_series = pd.Series([])

### **Add Index**

In [44]:
series3 = pd.Series([3,2,13,54,15], index = ['a','b','c','d','e'])
print(series3)

a     3
b     2
c    13
d    54
e    15
dtype: int64

### **Changing Data Type**

In [45]:
series3 = pd.Series([3,2,13,54,15], index = ['a','b','c','d','e'], dtype = float)
print(series3)

a     3.0
b     2.0
c    13.0
d    54.0
e    15.0
dtype: float64

### **Adding Column Name**

In [46]:
series3 = pd.Series([3,2,13,54,15], index = ['a','b','c','d','e'], dtype = float, name = 'Data Values')
print(series3)

a     3.0
b     2.0
c    13.0
d    54.0
e    15.0
Name: Data Values, dtype: float64

### **Create Series using Scaler Value**

In [47]:
scaler_s = pd.Series(0.5, index = [1,2,3,4,5])
print(scaler_s)

1    0.5
2    0.5
3    0.5
4    0.5
5    0.5
dtype: float64

### **Create Series using Dictionary Value**

In [48]:
dict_s = pd.Series({'a': 1, 'b': 2})
print(dict_s)

a    1
b    2
dtype: int64

### **Access Perticular Index value**

In [49]:
series4 = pd.Series([1,2,3,4,5])
print(series4)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [50]:
#to know index number 2's value
series4[2]

3

### **Series Slicing**

In [51]:
series4[0:3]

0    1
1    2
2    3
dtype: int64

### **Know Min Max Value from series**

In [52]:
max(series4)

5

In [53]:
min(series4)

1

In [54]:
#To get value gratter then 3
series4[series4 > 3]

3    4
4    5
dtype: int64

### **Adding 2  series**

In [55]:
series4

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [56]:
series5 = pd.Series([1,2,3,4,5])
print(series5)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [57]:
#adding 2 equal data series
series4 + series5

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [58]:
series6 = pd.Series([1,2,3])
print(series6)

0    1
1    2
2    3
dtype: int64

In [59]:
#adding 2 unequal data series
series5 + series6

0    2.0
1    4.0
2    6.0
3    NaN
4    NaN
dtype: float64

# **Pandas Dataframe**

### **Creating DataFrame By List**

In [60]:
#Creating Empty dataframe
emt_df = pd.DataFrame()
print(emt_df)

Empty DataFrame
Columns: []
Index: []

In [61]:
#Creating List
lst = ['a', 'b', 'c']
print(lst)

['a', 'b', 'c']

In [62]:
#Creating dataframe
df1 = pd.DataFrame(lst)
df1

   0
0  a
1  b
2  c

In [63]:
#Creating Multi Column DataFrame
lst_of_lst = [[1,2,3],[2,3,4],[3,4,5]]
print(lst_of_lst)

[[1, 2, 3], [2, 3, 4], [3, 4, 5]]

In [64]:
df2 = pd.DataFrame(lst_of_lst)
df2

   0  1  2
0  1  2  3
1  2  3  4
2  3  4  5

### **Creating DataFrame By Dictionary**

In [65]:
#Creating Dictionary
dict1 = {'ID' : [11,12,13]}
dict1

{'ID': [11, 12, 13]}

In [66]:
#Creating Dataframe with Dictionary
df3 = pd.DataFrame(dict1)
df3

   ID
0  11
1  12
2  13

In [67]:
dict1 = {'ID' : [11,12,13], 'SN': [11,23,12]}
dict1

{'ID': [11, 12, 13], 'SN': [11, 23, 12]}

In [68]:
df3 = pd.DataFrame(dict1)
df3

   ID  SN
0  11  11
1  12  23
2  13  12

### **Creating DataFrame By List of Dictionary**

In [69]:
#When Dictionary are equal
lst_dict = [{'a': 1, 'b': 2}, {'a': 3, 'b': 4}, {'a': 5, 'b': 6}]
df4 = pd.DataFrame(lst_dict)
df4

   a  b
0  1  2
1  3  4
2  5  6

In [70]:
#When Dictionary are unequal
lst_dict = [{'a': 1, 'b': 2}, {'a': 3, 'b': 4}, {'a': 5, 'b': 6, 'c': 7}]
df4 = pd.DataFrame(lst_dict)
df4

   a  b    c
0  1  2  NaN
1  3  4  NaN
2  5  6  7.0

### **Creating DataFrame from Dictionary of Series**

In [71]:
from pandas.core.internals.construction import dict_compat
dict_series = {'ID': pd.Series([1,2,3]), 'SN':[111,222,333]}
df5 = pd.DataFrame(dict_series)
df5

   ID   SN
0   1  111
1   2  222
2   3  333

### **Read CSV Files**

In [72]:
pd.read_csv('/content/student_results.csv')

,Student ID,Class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs,Percantege
0,1001,10,2,9,3,5,50
1,1002,10,6,8,2,0,80
2,1003,10,3,8,2,4,60
3,1004,11,0,10,1,5,45
4,1005,11,4,7,2,0,75
5,1006,11,10,7,0,0,96
6,1007,12,4,6,0,0,80
7,1008,12,10,6,2,0,90
8,1009,12,2,8,2,4,60
9,1010,12,6,9,1,0,85

In [73]:
pd.read_csv('/content/Top-10-IT-Companies-in-India.csv')

  Top 10 IT Companies in India
0                          TCS
1                      Infosys
2                Tech Mahindra
3                        Wipro
4             HCL Technologies
5                 L&T Infotech
6                     Mindtree
7                      Mphasis
8    Oracle Financial Services
9                  Rotla India

In [74]:
#To Know where Stored Pandas File
import os
print(os.getcwd())

/content

### **Write CSV Files**

In [75]:
df = pd.read_csv('/content/Fortune_10.csv')
df

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [76]:
type(df)

pandas.core.frame.DataFrame

In [77]:
# To Know Columns
df.columns

Index(['ID', 'Name', 'Industry', 'Inception', 'Revenue', 'Expenses', 'Profit',
       'Growth'],
      dtype='object')

In [78]:
#To read specific first 2 Rows
df = pd.read_csv('/content/Fortune_10.csv', nrows = 2)
df

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%

In [79]:
#To read specific Single Columns
df = pd.read_csv('/content/Fortune_10.csv', usecols= [2])
df

              Industry
0          IT Services
1   Financial Services
2               Health
3          IT Services
4               Health
5               Health
6               Health
7               Health
8          IT Services
9  Government Services

In [80]:
#To read specific Multiple Columns
df = pd.read_csv('/content/Fortune_10.csv', usecols= [2,4,7])
df

              Industry       Revenue Growth
0          IT Services  $11,757,018     30%
1   Financial Services  $12,329,371     20%
2               Health  $10,597,009      7%
3          IT Services  $14,026,934     26%
4               Health  $10,573,990      8%
5               Health  $13,898,119     23%
6               Health   $9,254,614      6%
7               Health   $9,451,943      4%
8          IT Services  $14,001,180     18%
9  Government Services  $11,088,336      7%

In [81]:
#To Skip Rows
df = pd.read_csv('/content/Fortune_10.csv', skiprows= 0)
df

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [82]:
#To Skip Specific multiple Rows by adding []
df = pd.read_csv('/content/Fortune_10.csv', skiprows= [1,2,3])
df

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
1,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
2,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
3,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
4,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
5,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
6,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [83]:
# Making Any column as index(trick 1)
df = pd.read_csv('/content/Fortune_10.csv', index_col = ['ID'])
df

,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
ID,,,,,,,
1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [84]:
# Making Any column as index(trick 2)
df = pd.read_csv('/content/Fortune_10.csv', index_col = [2])
df

,ID,Name,Inception,Revenue,Expenses,Profit,Growth
Industry,,,,,,,
IT Services,1,Lamtone,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
Financial Services,2,Stripfind,2010,"$12,329,371","916,455 Dollars",11412916,20%
Health,3,Canecorporation,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
IT Services,4,Mattouch,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
Health,5,Techdrill,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
Health,6,Techline,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
Health,7,Cityace,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
Health,8,Kayelectronics,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
IT Services,9,Ganzlax,2011,"$14,001,180",NaN,11901180,18%
Government Services,10,Trantraxlax,2011,"$11,088,336","5,635,276 Dollars",5453060,7%